ul {
    padding-left: 0;
    width: 400px;
  }
  
  li {
    display: flex;
    flex: 200px auto auto;
    justify-content: space-between;
    background-color: yellow;
  }
  
  li > button:first-of-type {
    margin-left: auto;
  }
  
  .done {
    background-color: green;
  }